<form method="post" action="{{ path('app_reviewmeal_delete', {'id': reviewmeal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reviewmeal.id) }}">
    <button class="btn">Delete</button>
</form>
