{% extends 'coach_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Ingredients{% endblock %}


{% block body %}
    <h1>Create new Ingredients</h1>

    {{ include('ingredients/_form.html.twig') }}

    <a href="{{ path('app_ingredients_index') }}">back to list</a>
{% endblock %}
