{% extends 'client_base.html.twig' %}

{% block title %}Cours Calendar{% endblock %}

{% block body %}

{# {{dump(data)}} #}
{# calendar #}
 <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script>

      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendrier')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
           headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
          editable: true,
        events: {{ data|raw }},
          eventResizableFromStart: true
        })

 calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let donnees = {
                "id" : e.event.id,
                "title": e.event.title,
                "start": e.event.start,
                "end": e.event.end,
            }
            
            let xhr = new XMLHttpRequest

            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
        
        calendar.render()
      })

    </script>
<div id="calendrier"></div>





   {# <a href="{{ path('cours_new') }}">Create new</a> #}
{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            margin-top : 10px;
            width: 90%;
            margin: auto;
        }
    </style>
{% endblock %}
